
driftfile /var/lib/ntp/drift

restrict -4 default kod nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery

restrict 127.0.0.1
restrict ::1


{% for server in time_synchronization_servers -%}
server {{ server }} iburst
{% endfor %}


includefile /etc/ntp/crypto/pw

keys /etc/ntp/keys

disable monitor
