{{ ansible_managed | comment }}
# rsyslog configuration file

# For more information see /usr/share/doc/rsyslog-*/rsyslog_conf.html
# If you experience problems, see http://www.rsyslog.com/doc/troubleshoot.html
#
#
# As a fall-out from the above and my attempts to filter certain message type ...
# uncomment the line under this commenti and restart rsyslog  to get very
# valuable *** D E B U G *** information in a seperate file
#/var/log/properties.log;RSYSLOG_DebugFormat


#### MODULES ####
{% for module in rsyslog__modules %}
{{ module.description | default('Module: '+module.name) | comment }}
$ModLoad {{ module.name }}
{%   if module.options is defined %}
{%     if module.options is mapping %}
{%       for key,value in module.options.items() %}
{{         key+' '+value }}
{%       endfor %}
{%     elif module.options is iterable and module.options is not string %}
{%       for item in module.options %}
{{         item }}
{%       endfor %}
{%     else %}
{{       module.options }}
{%     endif %}
{%   endif %}

{% endfor %}

#### GLOBAL DIRECTIVES ####

# Where to place auxiliary files
$WorkDirectory {{ rsyslog__work_dir }}

# Use default timestamp format
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

# File syncing capability is disabled by default. This feature is usually not required,
# not useful and an extreme performance hit
#$ActionFileEnableSync on

# Include all config files in {{ rsyslog__conf_dir }}
$IncludeConfig {{ rsyslog__dynamic_conf_dir }}/*.conf

# Turn off message reception via local log socket;
# local messages are retrieved through imjournal now.
#$OmitLocalLogging on

# File to store the position in the journal
# $IMJournalStateFile imjournal.state


#### RULES ####

# Default logging rules can be found in /etc/rsyslog.d/50-default.conf

# ### begin forwarding rule ###
# The statement between the begin ... end define a SINGLE forwarding
# rule. They belong together, do NOT split them. If you create multiple
# forwarding rules, duplicate the whole block!
# Remote Logging (we use TCP for reliable delivery)
#
# An on-disk queue is created for this action. If the remote host is
# down, messages are spooled to disk and sent when it is up again.
#$ActionQueueFileName fwdRule1 # unique name prefix for spool files
#$ActionQueueMaxDiskSpace 1g   # 1gb space limit (use as much as possible)
#$ActionQueueSaveOnShutdown on # save messages to disk on shutdown
#$ActionQueueType LinkedList   # run asynchronously
#$ActionResumeRetryCount -1    # infinite retries if host is down
# remote host is: name/ip:port, e.g. 192.168.0.1:514, port optional
#*.* @@remote-host:514
# ### end of the forwarding rule ###
