{{ ansible_managed | comment }}
#
# Check this guidance if you have any questions:
# man systemd.unit
#  -or-
# https://www.freedesktop.org/software/systemd/man/systemd.unit.html
#
[Unit]
Description={{ rsyslog__description }}
{{ 'Requires=syslog.socket' if ansible_os_family == 'Debian' else '' }}
Documentation=man:rsyslogd(8)
Documentation=http://www.rsyslog.com/doc/

[Service]
Type=notify
EnvironmentFile=-{{ rsyslog__environment_file }}
PIDFile={{ rsyslog__pid_file }}
ExecStartPre=/bin/rm -f {{ rsyslog__pid_file }}
ExecStart={{ rsyslog__daemon_file }} -n $OPTIONS
ExecReload=/bin/kill -HUP $PIDFile
Restart=always
KillMode=process
TimeoutSec=30
StandardOutput=null
UMask=0066

[Install]
WantedBy=multi-user.target
Alias=syslog.service
